/coronavirus-covid19-tweets-early-april/coronavirus-covid19-tweets-early-april.zip
/.dbt/.user.yml
/covid19/.pdm.toml
/covid19/target/
/covid19/dbt_packages/
/covid19/logs/
/covid19/.env
/covid19/build/
/covid19/dist/
.pdm-python

# PDM build directory
build/
